<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="css/style.css" />
        <meta charset="utf-8">
        <title>Decentralized Traffic Detection Web Interface</title>
    </head>
    <body>
        <!-- <h2>Displaying {{global.NUM_TIME_STEP}} frames from {{meta.outputFolder}}</h2> -->
        <h2>Simulation Displayer</h2>

        <div class="frame">
            <h3 id="frame-display">Frame:<h3>

            <input type="range" min="0" max="1" value="0" id="frame-slider" list="frame-slider-ticks">
            <datalist id="frame-slider-ticks">
            </datalist>
            <br>
            <h3 id="frame-speed">Frame Speed:<h3>
            <input id="frame-play" type="button" value="Off"><br>
            <input type="range" min="0" max="7" value="4" id="frame-speed-slider">
        </div>



        <div id="event-search" width="90%" height="10%">
            <input id="event-search-button" type="button" value="Search for event by ID:" id="frame-speed-slider">
			<input id="event-search-text" type="text"><br>
            <p id="event-search-state"></p>
            <br><br>
        </div>

        <div id="item-description" width="90%" height="10%">
            Click on an item to get its current state!
        </div>
        <canvas id="roadMap" width="100" height="100"></canvas>


        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>

        <script type="text/javascript">
            "use strict";

            var data = {
                "meta": {},
                "global": {},
                "frames": [],
                "loaded": [],
            };

            var frameData;

            // meta data
            data.meta.simulationName = {{{json simulationName}}};
            data.meta.simulationIndex = {{{json simulationIndex}}};
            data.meta.outputFolder = {{{json outputFolder}}};
            data.meta.globalFile = {{{json globalFile}}};
            data.meta.eventFile = {{{json eventFile}}};

            // global data
            loadGlobalRequest();

            // frames and loaded
            for (var i = 0; i < data.global.NUM_TIME_STEP; i++) {
                data.frames.push({});
                data.loaded.push(false);

                // pre-loaded
                // loadFrameRequest(index);
            }

            var frameDisplay = document.getElementById("frame-display");
            var frameSpeed = document.getElementById("frame-speed");
            var frameSlider = document.getElementById("frame-slider");
            var frameSliderList = document.getElementById("frame-slider-ticks");
            var framePlay = document.getElementById("frame-play");
            var frameSpeedSlider = document.getElementById("frame-speed-slider");

            var eventSearchButton = document.getElementById("event-search-button");
            var eventSearchText = document.getElementById("event-search-text");
            var eventSearchState = document.getElementById("event-search-state");

            // color constants
            var RED   = "#FF0000";
            var GREEN = "#00FF00";
            var BLUE  = "#0000FF";
            var GRAY  = "#808080";
            var BLACK = "#000000";
            var WHITE = "#FFFFFF";

            var vertexRadius = 15;
            var edgeWidth = 15;
            var carRadius = 5;

            var view = {
                "width": -1,
                "height": -1,
                "currentFrame": -1,
            };

            const canvas = document.getElementById('roadMap');
            const context = canvas.getContext('2d');
            context.imageSmoothingEnabled = false;

            canvas.width = screen.width * 0.9;
            canvas.height = screen.height * 0.9;

            // START OF FILE LOADING AJAX
            function loadGlobalRequest () {
                var params = {
                    "url": "load_file_worker",
                    "type": "get",
                    "data": {"fileName": data.meta.globalFile},
                    "success": loadGlobalResponse,
                };
                $.ajax(params);
            }

            function loadGlobalResponse (responseText) {
                data.global = JSON.parse(responseText);
                loadEventRequest();
            }

            function loadEventRequest () {
                var params = {
                    "url": "load_file_worker",
                    "type": "get",
                    "data": {"fileName": data.meta.eventFile},
                    "success": loadEventResponse,
                };
                $.ajax(params);
            }

            function loadEventResponse (responseText) {
                console.log(responseText.substring(0, 100));
                data.graphEvents = JSON.parse(responseText)["graphEvents"];
                initFrameSlider();
                initEventSearch();
                loadFrameRequest(frameSlider.value);
            }

            function loadFrameRequest (index) {
                if (!data.loaded[index]) {
                    console.log("Loading frame " + index);
                    var frameFile = data.meta.outputFolder + data.meta.simulationName + "_" + index.toString().padStart(6, "0") + ".txt";
                    var params = {
                        "url": "load_file_worker",
                        "type": "get",
                        "data": {"fileName": frameFile},
                        "success": loadFrameResponse,
                    };
                    $.ajax(params);
                } else {
                    displayFrame(index);
                }
            }

            function loadFrameResponse (responseText) {
                var parsed = JSON.parse(responseText);
                data.frames[parsed.frame] = parsed;
                data.loaded[parsed.frame] = true;
                console.log(data.frames[parsed.frame]);
                displayFrame(parsed.frame);
            }

            // END OF FILE LOADING AJAX

            function initFrameSlider () {
                frameSlider.max = data.global.NUM_TIME_STEP - 1;
                frameSlider.oninput = function() {
                    view.currentFrame = this.value;
                    loadFrameRequest(this.value);
                }

                var tickIntervals = 4;
                for (var i = 0; i <= tickIntervals; i++) {
                   var option = document.createElement("option");
                   option.value = Math.trunc(i * frameSlider.max / tickIntervals);
                   frameSliderList.appendChild(option);
                }

                framePlay.onclick = function() {
                    if (this.value == "On") {
                        frameSpeed.style.color = GRAY;
                        this.value = "Off";
                    } else if (this.value == "Off") {
                        frameSpeed.style.color = BLACK;
                        timeSinceUpdate = 0;
                        this.value = "On";
                    }
                };

                framePlay.value = "Off";
                frameSpeed.style.color = GRAY;
                frameSpeed.innerHTML = "Frame Speed: " + frameSpeedSliderValues[frameSpeedSlider.value];

                frameSpeedSlider.oninput = function() {
                    frameSpeed.innerHTML = "Frame Speed: " + frameSpeedSliderValues[this.value];
                };

            }

            function initEventSearch () {
                eventSearchButton.onclick = function() {
                    if (eventSearchText.value != "") {
                        eventSearchState.innerHTML = JSON.stringify(data.graphEvents[eventSearchText.value]);
                    }
                };
            }

            function displayFrame (frameNumber) {
                console.log("Displaying frame " + frameNumber);

                view.currentFrame = frameNumber;

                frameData = data.frames[view.currentFrame];
                for (var i = 0; i < frameData.graphVertices.length; i++) {
                    view.width = Math.max(view.width, frameData.graphVertices[i].x);
                    view.height = Math.max(view.height, frameData.graphVertices[i].y);
                }
                if (view.width / canvas.width > view.height / canvas.height) {
                    view.height = canvas.height * view.width / canvas.width;
                } else {
                    view.width = canvas.width * view.height / canvas.height;
                }

                frameDisplay.innerHTML = "Frame: " + view.currentFrame;

                context.fillStyle = WHITE;
                context.fillRect(0, 0, canvas.width, canvas.height);

                hitContext.fillStyle = BLACK;
                hitContext.fillRect(0, 0, canvas.width, canvas.height);

                maxColor = 0;
                colorToItem = {};

                for (var i = 0; i < frameData.graphEdges.length; i++) {
                	drawEdge(frameData.graphEdges[i]);
                }

                for (var i = 0; i < frameData.graphVertices.length; i++) {
                	drawVertex(frameData.graphVertices[i]);
                }

                for (var id in frameData.graphCars) {
                	drawCar(frameData.graphCars[id]);
                }
                // console.log(colorToItem);
            }

            function scaleToView (obj) {
                return {
                    "x": obj.x * (canvas.width / view.width),
                    "y": obj.y * (canvas.height / view.height),
                }
            }

            function drawCar (car) {
                var loc = scaleToView(car);

            	context.beginPath();
            	context.arc(loc.x, loc.y, carRadius, 0, 2 * Math.PI, false);
                context.closePath();

            	context.fillStyle = RED;
            	context.fill();

            	context.lineWidth = 1;
            	context.strokeStyle = BLACK;
            	context.stroke();

                var hitColor = getNextColor();
                colorToItem[hitColor] = {
                    "type": "car",
                    "id": car.id,
                };

                hitContext.beginPath();
                hitContext.arc(loc.x, loc.y, carRadius, 0, 2 * Math.PI, false);
                hitContext.closePath();

                hitContext.fillStyle = hitColor;
                hitContext.fill();
            }

            function clickCar (car) {
                var loc = scaleToView(car);

            	context.beginPath();
            	context.arc(loc.x, loc.y, carRadius, 0, 2 * Math.PI, false);
                context.closePath();

            	context.fillStyle = RED;
            	context.fill();

            	context.lineWidth = 1;
            	context.strokeStyle = BLACK;
            	context.stroke();

                var hitColor = getNextColor();
                colorToItem[hitColor] = {
                    "type": "car",
                    "id": car.id,
                };

                hitContext.beginPath();
                hitContext.arc(loc.x, loc.y, carRadius, 0, 2 * Math.PI, false);
                hitContext.closePath();

                hitContext.fillStyle = hitColor;
                hitContext.fill();
            }

            function drawEdge (e) {
                var loc1 = scaleToView(data.frames[view.currentFrame].graphVertices[e.start]);
                var loc2 = scaleToView(data.frames[view.currentFrame].graphVertices[e.end]);
                var dx = loc2.x - loc1.x;
                var dy = loc2.y - loc1.y;
                var magnitude = Math.sqrt(dx * dx + dy * dy);
                var x_offset = -dy / magnitude * edgeWidth / 2;
                var y_offset = -dx / magnitude * edgeWidth / 2;

                context.beginPath();
                context.moveTo(loc1.x + x_offset, loc1.y + y_offset);
                context.lineTo(loc1.x - x_offset, loc1.y - y_offset);
                context.lineTo(loc2.x - x_offset, loc2.y - y_offset);
                context.lineTo(loc2.x + x_offset, loc2.y + y_offset);
                context.lineTo(loc1.x + x_offset, loc1.y + y_offset);
                context.closePath();

            	context.fillStyle = GRAY;
                context.fill();

            	context.lineWidth = 1;
            	context.strokeStyle = BLACK;
            	context.stroke();
            }

            function drawVertex (v) {
                var loc = scaleToView(v);

            	context.beginPath();
            	context.arc(loc.x, loc.y, vertexRadius, 0, 2 * Math.PI, false);
                context.closePath();

            	context.fillStyle = BLUE;
            	context.fill();

            	context.lineWidth = 1;
            	context.strokeStyle = BLACK;
            	context.stroke();
            }

            // canvas clicking
            // based on https://lavrton.com/hit-region-detection-for-html5-canvas-and-how-to-listen-to-click-events-on-canvas-shapes-815034d7e9f8/

            const hitCanvas = document.createElement('canvas');
            const hitContext = hitCanvas.getContext('2d');

            const itemDescription = document.getElementById("item-description");

            hitCanvas.width = canvas.width;
            hitCanvas.height = canvas.height;

            var colorToItem = {};
            var maxColor = 0;

            function getNextColor () {
                maxColor++;
                var r = Math.floor(maxColor / (256 * 256));
                var g = Math.floor(maxColor / (256)) % 256;
                var b = maxColor % (256 * 256);
                return "rgb(" + r + "," + g + "," + b + ")";
            }

            function addShape(shape) {
                shape.color = getNextColor();
                colorsToShape[shape.color] = shape.id;
                shapes.push(shape);
            }

            canvas.addEventListener('click', function (event) {
                var bound = canvas.getBoundingClientRect();
                const mousePos = {
                    x: event.clientX - bound.x,
                    y: event.clientY - bound.y,
                };
                const pixel = hitContext.getImageData(mousePos.x, mousePos.y, 1, 1).data;
                const color = "rgb(" + pixel[0] + "," + pixel[1] + "," + pixel[2] +")";

                console.log("click");
                console.log(mousePos);
                // console.log(color);

                const item = colorToItem[color];
                if (item) {
                    console.log("clicked item: " + item.type + " " + item.id);
                    itemDescription.innerHTML = "Car\n" + JSON.stringify(frameData.graphCars[item.id]);
                }
            });




            var intervalTime = 10;
            var frameSpeedSliderValues = [0.5, 1, 2, 5, 10, 25, 50, 100]; // frames per second
            var timeSinceUpdate = 0;
            setInterval(function () {
                if (framePlay.value == "On") {
                    timeSinceUpdate += intervalTime;
                    var frameChange = Math.trunc(timeSinceUpdate / (1000 / frameSpeedSliderValues[frameSpeedSlider.value]));
                    if (frameChange == 0) {
                        return;
                    }
                    var nextFrame = view.currentFrame + frameChange;
                    if (nextFrame >= data.global.NUM_TIME_STEP) {
                        if (view.currentFrame + 1 < data.global.NUM_TIME_STEP) {
                            view.currentFrame = data.global.NUM_TIME_STEP - 1;
                            frameSlider.value = view.currentFrame;
                            loadFrameRequest(view.currentFrame);
                        }

                        framePlay.value = "Off";
                        frameSpeed.style.color = GRAY;
                    } else {
                        view.currentFrame++;
                        frameSlider.value = view.currentFrame;
                        loadFrameRequest(view.currentFrame);
                        timeSinceUpdate -= frameChange * (1000 / frameSpeedSliderValues[frameSpeedSlider.value]);
                    }
                }
            }, intervalTime);

        </script>
        <!-- <script type="text/javascript" src="js/initDisplay.js"></script> -->

    </body>
</html>
